## Deleting multiple elements from a list

In [37]:
list_demo=["apple","orange","grapes"]
del list_demo[0:2]
list_demo

['grapes']

In [35]:
list_demo=["apple","orange","grapes"]
unwanted=["apple","grapes"]
for ele in unwanted:
    if ele in list_demo:
        list_demo.remove(ele)
list_demo

['orange']

## Mapping more than one value to a key in dict

In [32]:
dict_1={"a":[1,2],"b":3}
dict_1["a"][0]

1

In [14]:
dict_1={"a":(1,2),"b":3}
dict_1["a"][0]

1

In [60]:
dict_1={"a":{3:"one",2:"two"},"b":3}
dict_1["a"][2]

'two'

## Sorting

In [58]:
# Sorting acsending order
list_2=[12, 34,65,875, 23567,123]
list_2.sort()
print(list_2)

[12, 34, 65, 123, 875, 23567]

In [59]:
# Sorting descending order
list_2=[12, 34,65,875, 23567,123]
list_2.sort(reverse=True)
print(list_2)

[23567, 875, 123, 65, 34, 12]

## Text with double quotes

In [1]:
print("Welcome to the \"World of Python\".")

Welcome to the "World of Python".

## Data Types

In [4]:
age=10
print(id(age))
age=30
print(id(age))

140708724384432
140708724385072

In [5]:
int(4.2)

4

### Loops

In [32]:
# Sum of numbers upto 10
sum=0
for i in range(0,11):
    sum+=i
    print(i)
#     if(i==5):
#         continue
print("Sum:",sum)

0
1
2
3
4
5
6
7
8
9
10
Sum: 55

## Nested loops

In [35]:
numbers = [[1, 2, 3], [4, 5, 6]]

cnt = 0
for i in numbers:
    for j in i:
        print('iteration ', cnt,":",j)
#         print(j)
        cnt = cnt + 1

iteration  0 : 1
iteration  1 : 2
iteration  2 : 3
iteration  3 : 4
iteration  4 : 5
iteration  5 : 6

### Floor division
 The largest integer that is less than or equal to the number

In [6]:
15/2

7.5

In [7]:
15%2

1

In [8]:
15//2

7

In [11]:
10/3

3.3333333333333335

In [10]:
a = 10
b = 3

print(a//b)  # 3

a = -10
b = -3

print(a//b)  # 3

a = 10
b = -3
print(a//b)  # -4

a = -10
b = 3
print(a//b)  # -4

3
3
-4
-4

In [16]:
import math
math.floor(10/3)

3

In [17]:
math.ceil(10/3)

4

## Type Casting

In [20]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

### Tuple

In [51]:
source_tuple=(12,34,56,44,55)
source_tuple[:-2]

(12, 34, 56)

In [22]:
source_tuple[0:4]

(12, 34, 56, 44)

### Dict

In [ ]:
check={False:"Python",0:"Java",0.0:"Hello"}
check[False]

## QUIZ

In [23]:
2**3

8

In [24]:
2^3

1

In [26]:
i = 0
while i < 3:

    print(i)

    i = i + 1

else:

    print(0)

0
1
2
0

In [27]:
L = list('123456')
L[0] = L[5] = 0
L[3] = L[-2]
print(L)

[0, '2', '3', '5', '5', 0]

In [28]:
print("mouse" != "mouse")

False

In [29]:
("mouse" != "mouse")

False

In [39]:
a=int(input("Enter the number"))

Enter the number10

In [40]:
a

10

In [41]:
type(a)

int

In [42]:
a=10
type(a)

int

## NORKA DSA_B1

### Length ..len()

Returns the length of a list, string, dictionary

In [7]:
str_1="Congratulations!!"
len(str_1)

17

### Functions

In [9]:
#### Without return statement
def add_fn(a,b):
    sum=a+b
    print("The sum is :",sum)

In [10]:
add_fn(2,3)

The sum is : 5

In [11]:
#### With return statement
def add_fn(a,b):
    sum=a+b
    return sum

In [12]:
result=add_fn(2,3)
print("The sum is :",result)

The sum is : 5

### Iterating through dictionary

In [15]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
for key in a_dict:
    print(a_dict[key])

blue
apple
dog

In [14]:
a_dict["color"]

'blue'

In [ ]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
for key in a_dict:
    print(a_dict[key])

In [ ]:
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
for item in a_dict.items():
    print(item)

In [16]:
a=3.14+2

In [17]:
a

5.140000000000001

In [21]:
list_1=[2,3,5,7,8]
for i in range(0,len(list_1)):
    print(list_1[i])

2
3
5
7
8

In [23]:
list_1=[]